<div class= "user">
 <div class="user_card">
<div class="user_card_image">
<img class="image-placeholder"src="<%= user.photo %>" alt="add-image"/>
</div>
 <div class="user_card_detail">
<h2><%= link_to user.name, user %></h2>
<p>Number of posts: <%= user.postscounter %></p>
</div>
</div>
</div>